/* Set a default size for the board
#myBoard {
  width: 550px;
}

/* Adjust the size of the board for smaller screens */
@media (max-width: 767px) {
  #myBoard {
    width: 90% !important;
    height: 0;
    padding-bottom: 100%;
  }
}

body {
  overflow: hidden;
  overflow: none;
}

@import url(//db.onlinewebfonts.com/c/b10849c899982654fae3f01d02269043?family=Emulogic);
@font-face {
  font-family: "Emulogic";
  src: url("//db.onlinewebfonts.com/t/b10849c899982654fae3f01d02269043.eot");
  src: url("//db.onlinewebfonts.com/t/b10849c899982654fae3f01d02269043.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b10849c899982654fae3f01d02269043.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b10849c899982654fae3f01d02269043.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b10849c899982654fae3f01d02269043.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b10849c899982654fae3f01d02269043.svg#Emulogic") format("svg");
}

:root {
  --electric-blue: #0070ff;
  --cyber-yellow: #ffd700;
  --neon-green: #39ff14;
  --fire-red: #ff4500;
  --mystic-purple: #800080;
  --oceanic-teal: #008080;
  --rock-gray: #7a7a7a;
  --iridescent-silver: #c0c0c0;
  --ghostly-lavender: #e6e6fa;
  --galactic-black: #0b3d91;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Emulogic", sans-serif;
  background-color: var(--ghostly-lavender) !important;
}

main {
  background-color: var(--ghostly-lavender);
}

.container {
  background-color: var(--ghostly-lavender);
}

h1 {
  font-family: "Emulogic", sans-serif;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--ghostly-lavender);
}

#chessBoard {
  background-color: var(--ghostly-lavender);
}

.block {
  position: absolute;
  background-color: black;
  width: 150px;
  height: 150px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 0.6s ease-out;
}
