/* Set a default size for the board */
#myBoard {
  width: 550px;
}

/* Adjust the size of the board for smaller screens */
@media (screen && max-width: 767px) {
  #myBoard {
    width: 90% !important;
    height: 0;
    padding-bottom: 100%;
  }
}

body {
  overflow: hidden;
  overflow: none;
}
